.projects{
    padding-bottom: 100px;
    margin: 50px 2.5% 200px;
        background-color: $bg;
    z-index: 1;
}

.project-preview{
    background-color: coral;
    display: flex;
    margin: 15%;
@media screen and (min-width: 600px) {
    
    width: calc(100%/2);
           &:nth-child(even) {
        justify-content: flex-end;
    }
    }
}

.square{
    z-index: 2;
    display: flex;
    position: relative;
&:after{
    display: flex;
    background: #EEE;
    content: "";
    position: absolute;
    top: 5%;
    left: -5%;
    width: 100%;
    height: 100%;
    z-index: -1;
    }
    
    img{
        align-self: center;
    }
}