@mixin border-h($thickness: 0px) {
    z-index: 10;
    position: fixed;
    height: $thickness;
    width: 100%;
    background-color: $brand;
    transition: .5s ease;
}

@mixin border-v($thickness: 0px) {
    z-index: 9;
    position: fixed;
    height: 100%;
    width: $thickness;
    background-color: $brand;
    transition: .5s ease;
}


@mixin bold-font{
    text-transform: uppercase;
    letter-spacing: .05em;
    font-family: 'Good Headline Pro';
    font-weight: bold;
}

@mixin arrow{
   content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    transform-origin: top right; 
}

@mixin arrow-font{
      margin-left: -30px;
        padding: 5px 10% 20px 0;
        letter-spacing: .2em;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $sans;
        color: $brand;
}

@mixin rotate{
    position: absolute;
    display: block;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-family: $sans;
    text-transform: uppercase;
    font-size: .7em;
}

