
/* ------------- */
.menu {
  position: absolute;
  top: 35px;
  right: 35px;
  height: 46px;
  width: 46px;
}

.menu-link {
    width: 200px;
  z-index: 1002;
}

.menu-name{
    position: fixed;
    top: 40px;
    right: 53px;
    margin-right: 20px;
    display: block;
    font-family: $sans;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    color: $text;
}

.menu-icon {
  position: fixed;
    width: 20px;
    height: 14px;
    top: 38px;
    right: 38px;
    z-index: 1200;
}

/* ------------- */
.menu-line {
  background-color: $text;
  height: 1px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s ease-in-out;
}
.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu-line-3 {
  bottom: 0;
}
.menu.open .menu-line-1 {
  transform: translateY(7px) translateY(-50%) rotate(-45deg);
}
.menu.open .menu-line-2 {
  opacity: 0;
}
.menu.open .menu-line-3 {
  transform: translateY(-7px) translateY(50%) rotate(45deg);
}

/* ------------- */
.menu-circle {
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 26px;
  right: 28px;
  border-radius: 50%;
  transform: scale(.5);
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}
.menu:hover .menu-circle, .hovered {
  background-color: $brand;
  transform: scale(1.05);
}
.menu.open .menu-circle {
  transform: scale(60);
}

/* ------------- */
.menu-overlay {
  background: $brand;
//  border: 10px solid #FFF;
  color: #333;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

.nav-main a{
    color: $bg;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Good Headline Pro';
    font-size: 1.5em;
    line-height: 1.618;
    letter-spacing: .2em;
     transition: .3s ease;
    
    &:focus,
    &:hover,
    &:active {
        color: $text;
    }
}

