@charset "UTF-8";

/* CSS Document */

/* ------------------------------- */
/* ------------ RESET ------------ */
/* ------------------------------- */

@import "reset";

/* ------------------------------- */
/* ------------ FONTS ------------ */
/* ------------------------------- */

@font-face {
    font-family: 'Summer Hearts';
    src: url('summerhearts-regular-webfont.woff2') format('woff2'),
         url('summerhearts-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ------------------------------- */
/* ---------- VARIABLES ---------- */
/* ------------------------------- */

@import 'vars';

/* ------------------------------ */
/* ----------- LAYOUT ----------- */
/* ------------------------------ */


/* -------- LAYOUT MIXIN -------- */

@import 'mixins';

/* ----------------------------- */
/* ------- LAYOUT STYLES ------- */

body {
    background-color: $bg;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    font-size: 1.05em;
    color: $text;
}



h1 {
    padding: 40px;
    @include bold-font;
    font-weight: 300;
    font-size: 2em;
    color: $text;
}

p {
    line-height: 1.4;
}

div.form{
    float: right;
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    width: 50%;
    /* justify-content: center; */
    align-content: center;
    align-items: center;
    margin: 0;
}

.border-top {
    @include border-h;
    top: 0;
}

.border-right {
    @include border-v;
    right: 0;
}

.border-bottom {
    @include border-h;
    bottom: 0;
}

.border-left {
    @include border-v;
    left: 0;
}


/* ------------------------------ */
/* --------- NAVIGATION --------- */
/* ------------------------------ */

@import 'nav';

@import 'content';

/* ------------------------------ */
/* -------- ACCESSIBILITY ------- */
/* ------------------------------ */


/* ------------------------------ */
/*------- SKIP TO CONTENT -------*/

@import 'accessibility';

/* ------------------------------ */
/* ----------- FOOTER ----------- */
/* ------------------------------ */

@import 'footer';


